<%- layout('./templates/boilerplate') %>
    <div class="container">
        <h1 class="text-center">
            List of servers
        </h1>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <% servers.forEach(server=> { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= server.name %></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><%= server.status %></h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>